<launch>
    <include file="$(find rl_tb_lidar)/turtlebot_stage/launch/turtlebot_in_stage.launch">
    <arg name="map_file" value=" $(find rl_tb_lidar)/turtlebot_stage/maps/map1/map_1.yaml" />
    <arg name="world_file" value=" $(find rl_tb_lidar)/turtlebot_stage/maps/map1/map_1.world" /> 
    </include>
    <node pkg="rl_tb_lidar" type="lidar_filter.py" name="lidar_filter" output="screen">
    </node>
</launch>
